## Jupyter Snippets

* scientific number formatting in dataframes
* print all variables in kernals
* column print settings
* timing functions

In [15]:
import jupyterlab
import os
import pandas as pd
import platform
import random
import seaborn as sns
import time

from platform import python_version

In [14]:
# %env

In [2]:

print("System")
print("os name: %s" % os.name)
print("system: %s" % platform.system())
print("release: %s" % platform.release())
print()
print("Python")
print("version: %s" % python_version())
print()
print("Python Packages")
print("jupterlab==%s" % jupyterlab.__version__)
print("pandas==%s" % pd.__version__)
seed = 42
random.seed(seed)
pd.np.random.seed(seed)

System
os name: nt
system: Windows
release: 10

Python
version: 3.6.5

Python Packages
jupterlab==0.32.1
pandas==0.23.0

## All functions in Doc

In [ ]:
#print every value
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # default 'last_expr'

# supress scientific notation
pd.options.display.float_format = '{:.4f}'.format # fourth decimal place

# Columns and row display
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width',1000)
pd.set_option('max_colwidth', 500)

# Seaborn Formatting
sns.set(style="darkgrid")

# Detailed descriptions if needed

## Print every output from a cell

* One of many of the "interactive" functions available for IPython
* https://ipython.readthedocs.io/en/stable/config/options/terminal.html

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # default 'last_expr'

a=3
a
a+1

3

4

## Suppress scientific notation in dataframe

In [5]:
def generate_sentence(n_chars=200):
    return ''.join(random.choice('abcdefg ') for _ in range(n_chars))
n = 100
df = pd.DataFrame(
    {
        "col1": pd.np.random.random_sample(n),
        "text": [generate_sentence() for _ in range(n)]
    }
)
df.shape

(100, 2)

In [7]:
df.iloc[0, 0] = 1e-10
df.head()

           col1                                               text
0  1.000000e-10  baeddcbbgaabddadgd eacgfecdfbbgbffea bgbefdbad...
1  9.507143e-01  aabdcg  dgacgage eg cdedaafaa cabcbbdgbdabgfed...
2  7.319939e-01  befbdeddcaad b gdg gdcabgdc adb c f g c  ede d...
3  5.986585e-01  bedgdef fgff eeedbdfbcdd eebdedfceaceaaec bae ...
4  1.560186e-01  eaee c  ffg fddgdgaf ggc acfb b acgcb efgbfgf ...

In [8]:
pd.options.display.float_format = '{:.4f}'.format # fourth decimal place

In [9]:
df.head()

    col1                                               text
0 0.0000  baeddcbbgaabddadgd eacgfecdfbbgbffea bgbefdbad...
1 0.9507  aabdcg  dgacgage eg cdedaafaa cabcbbdgbdabgfed...
2 0.7320  befbdeddcaad b gdg gdcabgdc adb c f g c  ede d...
3 0.5987  bedgdef fgff eeedbdfbcdd eebdedfceaceaaec bae ...
4 0.1560  eaee c  ffg fddgdgaf ggc acfb b acgcb efgbfgf ...

In [10]:
pd.reset_option('display.float_format')

### List variables
* The %who command without any arguments will list all variables that existing in the global scope. Passing a parameter like str will list only variables of that type.

In [16]:
one = "for the money"
two = "for the show"
three = "to get ready now go cat go"
%who str

one	 three	 two

### Time Function
* %%time will give you information about a single run of the code in your cell.

In [18]:
%%time
for _ in range(1000):
    time.sleep(0.01) # sleep for 0.01 seconds

Wall time: 10.5 s